html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.d-flex1 {
  display: flex;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.rotate {
  transform: rotate(230deg);
}

.rotate1 {
  transform: rotate(90deg);
}

.container {
  width: 90%;
  margin: auto;
}

.text-light {
  color: #fff;
}

.p {
  color: #bfbdbd;
  font-weight: 400;
  opacity: 1;
}

.p1 {
  font-size: 20px;
  color: #64555A;
  opacity: 7;
}

.w-50 {
  width: 50%;
}

.img-fulid {
  width: 100%;
  height: auto;
}

.fs {
  font-size: 20px !important;
}

.section1-text {
  text-align: center;
}
.section1-text p {
  background: rgb(17, 173, 175);
  background: linear-gradient(99deg, rgb(17, 173, 175) 38%, rgb(123, 104, 178) 48%, rgb(217, 42, 181) 57%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 17px;
  font-weight: bolder;
}
.section1-text h2 {
  font-size: 50px;
  padding: 10px 0;
}
.section1-text span {
  font-size: 20px;
  color: #64555A;
}

.section1-text1 p {
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 17px;
  font-weight: bolder;
}
.section1-text1 h2 {
  font-size: 50px;
  padding: 10px 0;
}
.section1-text1 span {
  font-size: 20px;
  color: #64555A;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 1, 0.831372549);
}

.overlay1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.4s ease-in;
}
.overlay1:hover {
  background: rgb(17, 132, 175);
  background: linear-gradient(180deg, rgba(17, 132, 175, 0) 0%, rgb(247, 71, 102) 95%);
}

.overlay2 {
  position: absolute;
  width: 170px;
  height: 100%;
  top: 0;
  z-index: -1;
}

.img-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: auto;
  z-index: 10;
  padding: 0 10px 10px 10px;
}

#header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 999;
  padding-top: 40px;
}
#header .logo {
  max-width: 150px;
}
#header .logo img {
  width: 100%;
}
#header .box-right ul li {
  padding: 13px;
  font-size: 20px;
}
#header .box-right ul li:last-child a {
  padding: 15px 30px;
  border-radius: 30px;
  border: 2px solid gray;
}
#header .box-right ul li:last-child a:hover {
  background-color: #FD4766;
  color: #fff;
}
#header .box-right ul li a {
  color: #fff;
  transition: 0.5s;
}
#header .box-right ul li a:hover {
  color: #FD4766;
}

#desting {
  width: 100%;
  height: 100vh;
  background-image: url(/img/arxa-fon.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#desting .container h1 {
  padding: 150px 0 0 0;
  font-size: 110px;
  line-height: 110px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  background: rgb(17, 132, 175);
  background: linear-gradient(99deg, rgb(17, 132, 175) 32%, rgb(123, 104, 178) 48%, rgb(217, 42, 181) 62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 6;
  position: relative;
}
#desting .container .boxes {
  position: absolute;
  bottom: 20px;
  z-index: 6;
}
#desting .container .boxes .box {
  width: 30%;
  text-align: center;
  margin: 0 20px;
  padding-bottom: 30px;
}
#desting .container .boxes .box i {
  font-size: 50px;
  color: #FD4766;
}
#desting .container .boxes .box h4 {
  font-size: 25px;
  padding: 15px 0;
  color: #fff;
}
#desting .container .boxes .box p {
  font-size: 20px;
}

#section1 {
  width: 100%;
  height: 90vh;
  margin-top: 200px;
  position: relative;
}
@keyframes ulvi019 {
  0% {
    top: 0;
    left: 0;
    transform: rotateY(360deg);
  }
}
#section1 .icon-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 20%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#section1 .icon-up a {
  color: black;
}
#section1 .container .d-flex .img-fulid1 {
  width: 37%;
  height: 80vh;
}
#section1 .container .d-flex .img-fulid1 img {
  width: 100%;
  height: 100%;
}
#section1 .container .d-flex .section-text {
  width: 63%;
  padding: 0 30px 0 50px;
}
#section1 .container .d-flex .section-text i {
  font-size: 40px;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  background-color: #FD4766;
  text-align: center;
  animation: ulvi019 2.5s infinite;
  position: relative;
}
#section1 .container .d-flex .section-text h3 {
  font-size: 45px;
  padding: 15px 0;
}
#section1 .container .d-flex .section-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  margin: 30px 0;
}
#section1 .container .d-flex .section-text a {
  background: rgb(17, 132, 175);
  background: linear-gradient(99deg, rgb(17, 132, 175) 32%, rgb(123, 104, 178) 48%, rgb(217, 42, 181) 62%);
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}
#section1 .container .d-flex .section-text a:hover::before {
  width: 100%;
}
#section1 .container .d-flex .section-text a::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -5px;
  left: 0;
  width: 30%;
  border-radius: 30px;
  transition: 0.3s;
  background: rgb(17, 173, 175);
  background: linear-gradient(99deg, rgb(17, 173, 175) 0%, rgb(217, 42, 181) 100%);
}

#section2 {
  width: 100%;
  height: auto;
  background-color: #F9F9F9;
  padding: 100px;
}
#section2 .boxes {
  margin-top: 50px;
}
#section2 .boxes .box {
  width: 31%;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 10px;
  transition: 0.5s;
}
#section2 .boxes .box:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#section2 .boxes .box h4 {
  font-size: 20px;
  padding: 15px 0;
}
#section2 .boxes .box i {
  font-size: 50px;
  color: #FD4766;
}

#section3 {
  margin-top: 100px;
  width: 100%;
  height: auto;
}
#section3 .boxes {
  margin-top: 100px;
}
#section3 .boxes .box {
  position: relative;
  width: 30%;
  height: auto;
  margin: 30px 21px;
  overflow: hidden;
  transition: 0.4s;
  transform: scale(1);
  border-radius: 6px;
}
#section3 .boxes .box:hover {
  transform: scale(1.1);
}
#section3 .boxes .box:hover img {
  transform: scale(1);
}
#section3 .boxes .box:hover::before {
  background: rgb(17, 132, 175);
  background: linear-gradient(180deg, rgba(17, 132, 175, 0) 0%, rgb(247, 71, 102) 95%);
}
#section3 .boxes .box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1991911944) 65%);
}
#section3 .boxes .box img {
  transform: scale(1.2);
  transition: 0.4s;
}
#section3 .boxes .box .img-text {
  position: absolute;
  bottom: 25px;
  width: 100%;
  z-index: 10;
  padding: 30px;
}
#section3 .boxes .box .img-text h4 {
  font-size: 30px;
  color: #fff;
  padding: 17px 0;
}
#section3 .boxes .box .img-text a {
  padding: 5px 15px;
  border: 2px solid grey;
  border-radius: 4px;
  color: #fff;
  transition: 0.5s;
}
#section3 .boxes .box .img-text a:hover {
  background-color: #FD4766;
  border: 2px solid #FD4766;
}

#section4 {
  width: 100%;
  height: auto;
  background-color: #F9F9F9;
  padding: 150px 0;
}
#section4 .boxes .box {
  width: 22%;
  color: black;
  background-color: #fff;
  padding: 70px 50px;
  text-align: center;
  border-radius: 8px;
  margin: 15px;
}
#section4 .boxes .box i {
  color: #FD4766;
  font-size: 40px;
}
#section4 .boxes .box h2 {
  font-size: 50px;
  margin-top: 30px;
}

#section5 {
  width: 100%;
  height: auto;
}
#section5 .boxes {
  margin-top: 200px;
}
#section5 .boxes .box {
  width: 50%;
  height: auto;
  position: relative;
  margin-bottom: -30px;
}
#section5 .boxes .box p {
  font-size: 35px;
  font-weight: 500;
  color: black;
  margin-bottom: 30px;
  line-height: 50px;
}
#section5 .boxes .box span b {
  color: #FD4766;
}
#section5 .boxes ul {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
#section5 .boxes ul li {
  width: 33.333%;
  padding: 15px;
  justify-content: center;
}
#section5 .boxes ul li img {
  border-radius: 8px;
}

#section6 {
  width: 100%;
  height: auto;
  background-color: #F9F9F9;
  padding: 80px 0;
}
#section6 .boxes {
  margin-top: 50px;
}
#section6 .boxes .box {
  width: 30%;
  height: auto;
  position: relative;
  margin: 30px 20px;
  overflow: hidden;
  transform: scale(1);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}
#section6 .boxes .box:hover::after {
  bottom: 20px;
  height: 40px;
  background-color: #FD4766;
}
#section6 .boxes .box:hover .img-text {
  padding: 30px;
}
#section6 .boxes .box:hover .img-text h4 {
  margin-bottom: 50px;
  font-size: 25px;
}
#section6 .boxes .box:hover::before {
  background: rgb(17, 132, 175);
  background: linear-gradient(180deg, rgba(17, 132, 175, 0) 0%, rgb(247, 71, 102) 95%);
}
#section6 .boxes .box::before {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 85%;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1991911944) 65%);
}
#section6 .boxes .box::after {
  content: "Read More";
  position: absolute;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 0;
  bottom: -12px;
  left: 6%;
  z-index: 3;
  color: #fff;
}
#section6 .boxes .box .img-text {
  font-size: 20px;
  line-height: 36px;
  padding-left: 25px;
  font-weight: 500;
}
#section6 .boxes .box .img-text h4 {
  margin-bottom: 0;
  transition: 0.7s;
}
#section6 .boxes .box img {
  transform: scale(1.1);
  transition: 0.3s ease-in;
}
#section6 .boxes .box:hover {
  transform: scale(1);
}
#section6 .boxes .box:hover img {
  transform: scale(1);
}
#section6 .boxes .box:hover {
  transform: translateY(-10px);
}

#section7 {
  width: 100%;
  height: auto;
  padding: 150px 0;
}
#section7 .boxes {
  margin: 50px 100px;
}
#section7 .boxes .d-flex {
  justify-content: center;
}
#section7 .boxes .box {
  width: 18%;
  margin: 50px 11px;
  transition: 0.4s;
}
#section7 .boxes .box:hover {
  transform: scale(1.1);
}
#section7 .boxes .box img {
  max-width: 150px;
  filter: gray;
  transition: 0.3s;
  -webkit-filter: grayscale(100%);
}
#section7 .boxes .box img:hover {
  filter: grayscale(0);
}

footer {
  width: 100%;
  height: auto;
  background-color: black;
  color: #fff;
  position: relative;
}
@keyframes u019 {
  0% {
    transform: rotate(30deg);
    top: 50%;
    right: 10%;
  }
  25% {
    transform: rotate(90deg);
    top: 60%;
    right: 5%;
  }
  50% {
    transform: rotate(180deg);
    top: 70%;
    right: 10%;
  }
  75% {
    transform: rotate(270deg);
    top: 65%;
    right: 20%;
  }
  100% {
    transform: rotate(30deg);
    top: 50%;
    right: 10%;
  }
}
footer .icon-down {
  position: absolute;
  top: 50%;
  right: 10%;
  animation: u019 15s infinite;
}
footer .icon-down i {
  font-size: 50px;
  font-weight: 200;
  color: #1db096;
  opacity: 1;
}
footer .boxes .footer-top {
  padding: 110px 0;
}
footer .boxes .footer-top .box {
  width: 50%;
  height: auto;
}
footer .boxes .footer-top .box h1 {
  font-size: 40px;
  font-weight: 700;
}
footer .boxes .footer-top .box button {
  padding: 26px 60px;
  display: inline-block;
  background-color: black;
  border: 2px solid #64555A;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}
footer .boxes .footer-top .box button:hover {
  background-color: #FD4766;
  border: 2px solid #FD4766;
}
footer .boxes .footer-top .box:last-child {
  display: flex;
  justify-content: end;
}
footer .boxes hr {
  height: 2px;
  border: none;
  background-color: #64555A;
}
footer .boxes .footer-bottom {
  padding: 110px 0;
}
footer .boxes .footer-bottom .box {
  width: 28%;
  margin: 0 32px;
}
footer .boxes .footer-bottom .box span {
  position: relative;
}
footer .boxes .footer-bottom .box span:hover {
  background: rgb(29, 135, 253);
  background: linear-gradient(90deg, rgb(29, 135, 253) 12%, rgb(131, 58, 180) 47%, rgb(247, 68, 126) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer .boxes .footer-bottom .box span:hover::before {
  width: 100%;
}
footer .boxes .footer-bottom .box span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 0;
  height: 3px;
  opacity: 10;
  background: rgb(29, 135, 253);
  background: linear-gradient(90deg, rgb(29, 135, 253) 12%, rgb(131, 58, 180) 47%, rgb(247, 68, 126) 100%);
  border-radius: 50px;
  transition: 0.5s;
}
footer .boxes .footer-bottom .box ul li {
  padding: 7px 0;
}
footer .boxes .footer-bottom .box ul li a {
  position: relative;
}
footer .boxes .footer-bottom .box ul li a:hover {
  color: #FD4766;
}
footer .boxes .footer-bottom .box ul li a:hover::before {
  width: 100%;
  left: 0;
}
footer .boxes .footer-bottom .box ul li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #FD4766;
  border-radius: 50px;
  transition: 0.5s;
}
footer .boxes .footer-bottom .box ul li i {
  padding: 10px;
  transition: 0.3s;
}
footer .boxes .footer-bottom .box ul li i:hover {
  color: #FD4766;
  transform: translateY(-5px);
}
footer .boxes .footer-bottom .box img {
  max-width: 200px;
  padding-bottom: 50px;
}
footer .boxes .footer-bottom .box .kapsama {
  display: flex;
  align-items: center;
}
footer .boxes .footer-bottom .box .kapsama .box {
  width: 50%;
}
footer .boxes .footer-bottom .box .kapsama .box h2 {
  padding: 10px 0;
}

.section1 {
  width: 100%;
  height: 80vh;
  background-image: url("/img/contact-img.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.section1 .container .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
}
.section1 .container .box h1 {
  font-size: 70px;
  font-family: sans-serif;
  background: linear-gradient(99deg, rgb(17, 132, 175) 32%, rgb(123, 104, 178) 48%, rgb(217, 42, 181) 62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 50px 0;
}
.section1 .container .box p {
  color: rgba(255, 255, 255, 0.8);
}
.section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010001;
  opacity: 0.5;
}

#adres {
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background-color: #F9F9F9;
}
#adres .adres-text p {
  background: rgb(17, 173, 175);
  background: linear-gradient(99deg, rgb(17, 173, 175) 38%, rgb(123, 104, 178) 48%, rgb(217, 42, 181) 57%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 17px;
  font-weight: bolder;
}
#adres .adres-text h2 {
  font-size: 50px;
  color: #1F1F25;
  font-family: sans-serif;
  margin: 20px 0;
}
#adres .box {
  width: 31%;
  background-color: #fff;
  border-radius: 13px;
  margin: 60px 15px;
  padding: 50px 25px;
  text-align: start;
  font-family: sans-serif;
  transition: 0.5s;
}
#adres .box:hover {
  transform: translateY(-6px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#adres .box i {
  font-size: 40px;
  color: #FD4766;
}
#adres .box h3 {
  font-size: 20px;
  color: #1F1F25;
  margin: 20px 0;
  font-weight: 700;
}
#adres .box p {
  transition: 0.3s;
}
#adres .box p:hover {
  color: #FD4766;
}

#form {
  width: 100%;
  height: auto;
  margin: 150px 0;
}
#form .box {
  width: 45%;
  margin: 0 30px;
}
#form .box img {
  border-radius: 8px;
}
#form .box form {
  display: flex;
  flex-direction: column;
}
#form .box form input, #form .box form textarea {
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 2px solid #E5E5E5;
  font-size: 15px;
}
#form .box form button {
  display: inline-block;
  background-color: #FD4766;
  border: 2px solid #FD4766;
  transition: 0.3s;
  padding: 15px;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
  width: 140px;
  margin-top: 30px;
}
#form .box form button:hover {
  background-color: #fff;
  color: #010001;
  transform: translateY(-5px);
}/*# sourceMappingURL=style.css.map */